queries/
logs/
wip_files/
main/outputs
main/pickles
main/tests/metadata_set_maker_tests/test_outputs/*.csv
main/tests/metadata_set_maker_tests/__pycache__/
main/tests/__pycache__/
main/__pycache__/
main/csvs/*.csv
main/tests/metadata_set_maker_tests/failed.txt
main/tests/metadata_set_maker_tests/passed.txt
outputs/
pickles/
main/blacklist.txt
main/csvs/
main/readable_condensed_bioproject_metadata_csvs/
wip_files/
main/other_data/
main/mwas_results_folder_*
main/bioprojects_ignored.txt
main/mwas_logging.txt
main/request.json
lambda_stuff/
main/tests/other_tests/__pycache__/
main/condensing_conversion/__pycache__/
main/tests/metadata_set_maker_tests/test_files/
main/real_mwas_runs/
main/v2/test*
